<div class="row">
    <div class="col-md-10 col-lg-10">
        <div class="videoContainer">
            <div class="card-columns"></div>
        </div>
        <div>
            <button id="audioToggle">audio</button>
            <button id="videoToggle">video</button>
            <button id="disconnect">disconnect</button>
        </div>
    </div>
    <div class="col-md-2 col-lg-2">            
        <ul class="list-group participants">
        </ul>
        <ul class="list-group messages">
            </ul>
        <div class="input-group mb-3 vbottom fullHeight">
            <input id="txtInput" type="text" class="form-control" placeholder="Your message" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="btnSend">Send</button>
            </div>
        </div>
    </div>
</div>